header, main {
    background-color: lightblue;
    text-align: center;
    font-family: Arial;
    font-size: 100px;
}
h1 {
    background-color: lightblue;
    text-align: center;
    font-family: Arial;
    font-size: 100px;
}
body {
    background-color: green;
    font-size: 20px
}
