header, main {
    background-color: lightblue;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
}
h1 {
    background-color: lightblue;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
}
body {
  font-family: Arial;
}
